@desktop: 1180px;
@laptop: 930px;
@mobile: 300px;
@black: #1B1F2B;
@gray300: #A6A6A6;
@beige200:#F4F0E9;

.reviews {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  &__preview {

    h2 {
      text-align: center;
      margin: 0 auto;
    }

    p {
      text-align: center;
      color: @gray300;
    }
  }

  &__card {
    box-sizing: border-box;
    background-color: @beige200;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    p {
      margin: 0;
    }

    &_info {
      display: grid;

      img {
        grid-row: 1/3;
        grid-column: 2;
        border-radius: 50%;
      }

      h3 {
        margin: 0;
      }

      p {
        margin: 0;
        color: @gray300;
      }
    }
  }
}

@media (min-width: @laptop) {
  .reviews {
    width: 1170px;
    height: 1005px;
    margin: 135px auto 0;

    &__preview {
      width: 100%;
      margin-bottom: 100px;

      h2 {
        width: 529px;
      }

      p {
        width: 418px;
        margin: 30px auto 0;
      }
    }

    &__card {
      width: 570px;
      height: 673px;
      padding: 40px;
      border-radius: 50px;

      &:first-child {
        margin-right: 30px;
      }

      p {
        width: 100%;
      }

      &_info {
        grid-template-columns: 415px 75px;
        grid-template-rows: 43px 24px;
        height: 75px;
        row-gap: 8px;

        img {
          width: 75px;
          height: auto;
        }
      }
    }
  }
}

@media(max-width: @desktop) and (min-width: @laptop) {
  .reviews {
    width: 918px;
    height: 1173px;
    margin: 135px auto 0;

    &__preview {
      width: 100%;
      margin-bottom: 100px;

      h2 {
        width: 529px;
      }

      p {
        width: 418px;
        margin: 30px auto 0;
      }
    }

    &__card {
      width: 450px;
      height: 841px;
      padding: 40px;
      border-radius: 50px;

      &:first-child {
        margin-right: 18px;
      }

      p {
        width: 100%;
      }

      &_info {
        grid-template-columns: 295px 75px;
        grid-template-rows: 43px 24px;
        height: 75px;
        row-gap: 8px;

        img {
          width: 75px;
          height: auto;
        }
      }
    }
  }
}

@media (max-width: @laptop) and (min-width: @mobile) {
  .reviews {
    width: 318px;
    height: 1210px;
    margin: 75px auto 0;

    &__preview {
      width: 100%;
      margin-bottom: 50px;

      h2 {
        width: 318px;
      }

      p {
        width: 318px;
        margin: 20px auto 0;
      }
    }

    &__card {
      width: 318px;
      height: auto;
      padding: 20px;
      border-radius: 20px;
      flex-direction: row;
      flex-wrap: wrap;

      &:last-child {
        margin-top: 18px;
      }

      p {
        width: 278px;
        margin-bottom: 40px;
      }

      &_info {
        grid-template-columns: 203px 75px;
        grid-template-rows: 44px 23px;
        height: 75px;
        row-gap: 8px;

        img {
          width: 75px;
          height: auto;
        }

        h3 {
          margin-top: auto;
        }

        p {
          margin: 0;
        }
      }
    }
  }
}