body {
  font-family: "Roboto", sans-serif;
  color: #1B1F2B;
  margin: 0;
  width: 100%;
  background-color: #F9F7F4;
}
.page-main {
  width: 100%;
  margin: 0;
}
/* Основные темы для шрифтов */
a {
  text-decoration: none;
  color: #1B1F2B;
}
h1 {
  font-weight: bold;
  font-style: normal;
  letter-spacing: 0.02em;
}
h2 {
  font-style: normal;
  font-weight: bold;
}
h3 {
  font-style: normal;
}
.p-big {
  font-style: normal;
  font-weight: 700;
}
.p-normal {
  font-style: normal;
  font-weight: 400;
}
.p-small {
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.01em;
}
@media (min-width: 930px) {
  h1 {
    font-size: 96px;
    line-height: 105px;
    letter-spacing: 0.02em;
  }
  h2 {
    font-size: 59px;
    line-height: 73px;
  }
  h3 {
    font-weight: 500;
    font-size: 35px;
    line-height: 122%;
  }
  .p-big {
    font-size: 23px;
    line-height: 122%;
  }
  .p-normal {
    font-size: 20px;
    line-height: 28px;
  }
  .p-small {
    font-size: 17px;
    line-height: 24px;
  }
}
@media (min-width: 300px) and (max-width: 930px) {
  h1 {
    font-size: 34px;
    line-height: 38px;
    letter-spacing: 0.02em;
  }
  h2 {
    font-size: 34px;
    line-height: 38px;
    letter-spacing: 0.02em;
  }
  h3 {
    font-size: 23px;
    line-height: 28px;
    letter-spacing: 0.04em;
  }
  .p-big {
    font-size: 16px;
    line-height: 23px;
  }
  .p-normal {
    font-size: 16px;
    line-height: 23px;
  }
  .p-small {
    font-size: 16px;
    line-height: 23px;
  }
}

.choose-tour {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.choose-tour h2 {
  margin-top: 0;
  margin-bottom: 0;
}
.choose-tour__nav {
  width: 100%;
  margin-bottom: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.choose-tour__nav a {
  font-weight: 700;
}
.choose-tour__cards {
  display: grid;
}
.choose-tour__cards-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  color: #ffffff;
  overflow: hidden;
  background: linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.5) 100%);
}
.choose-tour__cards-card img {
  align-self: center;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: auto;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
}
.choose-tour__cards-card .card-info {
  margin: 50px 50px 0;
}
.choose-tour__cards-card .card-info h3 {
  margin: 0;
}
.choose-tour__cards-card .card-info p {
  margin: 16px 0 0;
}
.choose-tour__cards-card .card-btn {
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
}
.choose-tour__cards-card .card-btn span {
  display: flex;
  justify-content: space-between;
  align-content: center;
}
@media (min-width: 930px) {
  .choose-tour {
    margin: 134px auto 0;
  }
  .choose-tour__nav {
    margin-top: 35px;
  }
  .choose-tour__nav a {
    margin: 0 15px;
    height: 34px;
  }
  .choose-tour__nav a:hover {
    border-bottom: 2px solid #1B1F2B;
  }
  .choose-tour__nav a.selected,
  .choose-tour__nav a:active {
    border-bottom: 2px solid #EFA501;
    color: #EFA501;
  }
  .choose-tour__cards {
    grid-template-columns: 370px 370px 370px;
    grid-template-rows: 531px 531px;
    gap: 30px;
    width: 1170px;
    margin-top: 100px;
  }
  .choose-tour__cards-card {
    border-radius: 50px;
  }
  .choose-tour__cards-card img {
    border-radius: 50px;
  }
  .choose-tour__cards-card:hover {
    cursor: pointer;
  }
  .choose-tour__cards-card:hover img {
    transform: scale(1.2);
  }
  .choose-tour__cards-card:hover .card-btn {
    background-color: #286562;
  }
  .choose-tour__cards-card:active .card-btn {
    background-color: #EFA501;
  }
  .choose-tour__cards-card .card-info {
    margin: 50px 50px 0;
  }
  .choose-tour__cards-card .card-info p {
    margin: 16px 0 0;
  }
  .choose-tour__cards-card .card-btn {
    margin: auto auto 43px 30px;
    padding: 7px 20px;
    width: 159px;
    height: 28px;
    border-radius: 50px;
  }
}
@media (max-width: 1180px) and (min-width: 930px) {
  .choose-tour {
    margin: 134px auto 0;
  }
  .choose-tour br {
    display: none;
  }
  .choose-tour__nav {
    margin-top: 35px;
  }
  .choose-tour__nav a {
    margin: 0 15px;
    height: 34px;
  }
  .choose-tour__nav a:hover {
    border-bottom: 2px solid #1B1F2B;
  }
  .choose-tour__nav a.selected,
  .choose-tour__nav a:active {
    border-bottom: 2px solid #EFA501;
    color: #EFA501;
  }
  .choose-tour__cards {
    grid-template-columns: 450px 450px;
    grid-template-rows: 531px 531px 531px;
    gap: 18px;
    width: 918px;
    margin-top: 100px;
  }
  .choose-tour__cards-card {
    border-radius: 50px;
  }
  .choose-tour__cards-card img {
    border-radius: 50px;
  }
  .choose-tour__cards-card:hover {
    cursor: pointer;
  }
  .choose-tour__cards-card:hover img {
    transform: scale(1.2);
  }
  .choose-tour__cards-card:hover .card-btn {
    background-color: #286562;
  }
  .choose-tour__cards-card:active .card-btn {
    background-color: #EFA501;
  }
  .choose-tour__cards-card .card-info {
    margin: 50px 50px 0;
  }
  .choose-tour__cards-card .card-info p {
    margin: 16px 0 0;
  }
  .choose-tour__cards-card .card-btn {
    margin: auto auto 43px 30px;
    padding: 7px 20px;
    width: 159px;
    height: 28px;
    border-radius: 50px;
  }
}
@media (max-width: 930px) and (min-width: 300px) {
  .choose-tour {
    margin: 75px auto 0;
  }
  .choose-tour h2 {
    font-size: 23px;
    line-height: 28px;
    letter-spacing: 0.04em;
  }
  .choose-tour br {
    display: none;
  }
  .choose-tour__nav {
    margin-top: 30px;
    gap: 10px;
    width: 270px;
  }
  .choose-tour__nav a {
    margin: 0;
    height: 22px;
  }
  .choose-tour__nav a.selected,
  .choose-tour__nav a:active {
    border-bottom: 2px solid #EFA501;
    color: #EFA501;
  }
  .choose-tour__cards {
    grid-template-columns: 318px;
    grid-template-rows: 318px 318px 318px 318px 318px 318px;
    gap: 18px;
    width: 318px;
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
  }
  .choose-tour__cards-card {
    border-radius: 20px;
  }
  .choose-tour__cards-card img {
    border-radius: 20px;
  }
  .choose-tour__cards-card .card-info {
    margin: 25px 25px 0;
  }
  .choose-tour__cards-card .card-info p {
    margin: 13px 0 0;
  }
  .choose-tour__cards-card .card-btn {
    margin: auto auto 25px 25px;
    padding: 0 1.5px;
    width: 123px;
    height: 26px;
  }
}

.create-tour {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.create-tour > p {
  color: #A6A6A6;
  text-align: center;
}
.create-tour form {
  background: #ffffff;
  display: grid;
}
.create-tour form input,
.create-tour form select {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 142%;
  background-color: #F9F7F4;
  border: 1px solid #F4F0E9;
}
.create-tour form input::-webkit-outer-spin-button,
.create-tour form input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0;
  /* <-- Apparently some margin are still there even though it's hidden */
}
.create-tour form input::-webkit-input-placeholder {
  color: #A6A6A6;
}
.create-tour form select option:first-child {
  display: none;
}
.create-tour form select {
  color: #A6A6A6;
  background: url("img/ic-dropdown.svg") no-repeat right #F9F7F4;
  -webkit-appearance: none;
}
.create-tour form select option {
  color: #1B1F2B;
}
.create-tour form .comment {
  width: 100%;
  resize: none;
  background-color: #F9F7F4;
  border: 1px solid #F4F0E9;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 142%;
}
.create-tour form .edge {
  display: flex;
  flex-direction: column;
}
.create-tour form .edge .radio-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.create-tour form .edge .radio-buttons label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.create-tour form .edge .radio-buttons label input {
  -webkit-appearance: none;
  border: none;
}
.create-tour form .edge .radio-buttons label > input + svg {
  position: absolute;
}
.create-tour form .edge .radio-buttons label > input + svg circle {
  display: none;
}
.create-tour form .edge .radio-buttons label > input:checked + svg circle {
  display: block;
}
.create-tour form .accept-license {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}
.create-tour form .accept-license input {
  -webkit-appearance: none;
  border: none;
  border-radius: 0;
}
.create-tour form .accept-license > input + svg {
  position: absolute;
  pointer-events: none;
}
.create-tour form .accept-license > input + svg .check_mark {
  display: none;
}
.create-tour form .accept-license > input:checked + svg .check_mark {
  display: block;
}
.create-tour form .accept-license label {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #A6A6A6;
}
.create-tour form .accept-license label a {
  color: #1B1F2B;
}
.create-tour form .buttons {
  display: flex;
  justify-content: space-between;
}
.create-tour form .buttons input:first-child {
  background-color: #286562;
  color: #ffffff;
}
.create-tour form .buttons input:last-child {
  background-color: #E0F0E5;
  color: #286562;
}
@media (min-width: 930px) {
  .create-tour h2 {
    margin: 135px 0 0 0;
  }
  .create-tour > p {
    width: 418px;
    margin: 30px 0 0 0;
  }
  .create-tour form {
    border-radius: 50px;
    padding: 70px;
    margin-top: 100px;
    width: 1030px;
    height: 846px;
    grid-template-columns: repeat(2, 500px);
    grid-template-rows: 104px 104px 104px 188px 64px 26px;
    column-gap: 30px;
    row-gap: 33px;
  }
  .create-tour form .full-width {
    grid-column: 1/3;
  }
  .create-tour form input,
  .create-tour form select {
    font-size: 20px;
    border-radius: 10px;
    width: 458px;
    height: 26px;
    padding: 20px;
    margin-top: 8px;
  }
  .create-tour form input:not([type="radio"]):not([type="checkbox"]):hover,
  .create-tour form select:not([type="radio"]):not([type="checkbox"]):hover {
    background-color: #F4F0E9;
    cursor: pointer;
  }
  .create-tour form input:not([type="radio"]):not([type="checkbox"]):focus,
  .create-tour form select:not([type="radio"]):not([type="checkbox"]):focus {
    background-color: #F4F0E9;
    outline: 1px solid #A6A6A6;
  }
  .create-tour form input::-webkit-input-placeholder {
    color: #A6A6A6;
  }
  .create-tour form select {
    width: 500px;
    height: 68px;
    background-position-x: 454px;
  }
  .create-tour form .comment {
    height: 152px;
    border-radius: 10px;
    margin-top: 8px;
    font-size: 20px;
    line-height: 142%;
    padding: 20px;
  }
  .create-tour form .comment:hover {
    background-color: #F4F0E9;
    cursor: pointer;
  }
  .create-tour form .comment:focus {
    background-color: #F4F0E9;
    outline: 1px solid #A6A6A6;
  }
  .create-tour form .edge p {
    margin-top: 0;
    margin-bottom: 8px;
  }
  .create-tour form .edge .radio-buttons {
    width: 166px;
  }
  .create-tour form .edge .radio-buttons label {
    height: 28px;
  }
  .create-tour form .edge .radio-buttons label input {
    padding: 0;
    margin: 0 11px 0 0;
    width: 26px;
    height: 26px;
  }
  .create-tour form .accept-license label {
    font-size: 17px;
    line-height: 142%;
    letter-spacing: -0.01em;
  }
  .create-tour form .accept-license input {
    margin: 0 19px 0 0;
    padding: 0;
    width: 26px;
    height: 26px;
  }
  .create-tour form .accept-license label a:hover {
    text-decoration: underline;
  }
  .create-tour form .accept-license label a:active {
    color: #286562;
    text-decoration: underline;
  }
  .create-tour form .buttons {
    width: 500px;
    height: 58px;
  }
  .create-tour form .buttons input {
    padding: 15px 0;
    margin: 0;
    width: 235px;
    height: 58px;
  }
  .create-tour form .buttons input:first-child:hover {
    background-color: #3B7E7B;
    cursor: pointer;
  }
  .create-tour form .buttons input:first-child:focus {
    outline: none;
  }
  .create-tour form .buttons input:first-child:active {
    background-color: #627F7E;
    outline: none;
  }
  .create-tour form .buttons input:last-child:hover {
    background-color: #F1F3F2;
    cursor: pointer;
  }
  .create-tour form .buttons input:last-child:focus {
    outline: none;
  }
  .create-tour form .buttons input:last-child:active {
    background-color: #D9DFDB;
    outline: none;
  }
}
@media (max-width: 1180px) and (min-width: 930px) {
  .create-tour h2 {
    margin: 135px 0 0 0;
  }
  .create-tour > p {
    width: 418px;
    margin: 30px 0 0 0;
  }
  .create-tour form {
    border-radius: 50px;
    padding: 60px;
    margin-top: 100px;
    width: 798px;
    height: 846px;
    grid-template-columns: repeat(2, 389px);
    grid-template-rows: 104px 104px 104px 188px 64px 26px;
    column-gap: 20px;
    row-gap: 33px;
  }
  .create-tour form .full-width {
    grid-column: 1/3;
  }
  .create-tour form input,
  .create-tour form select {
    font-size: 20px;
    border-radius: 10px;
    width: 347px;
    height: 26px;
    padding: 20px;
    margin-top: 8px;
  }
  .create-tour form input:not([type="radio"]):not([type="checkbox"]):hover,
  .create-tour form select:not([type="radio"]):not([type="checkbox"]):hover {
    background-color: #F4F0E9;
    cursor: pointer;
  }
  .create-tour form input:not([type="radio"]):not([type="checkbox"]):focus,
  .create-tour form select:not([type="radio"]):not([type="checkbox"]):focus {
    background-color: #F4F0E9;
    outline: 1px solid #A6A6A6;
  }
  .create-tour form input::-webkit-input-placeholder {
    color: #A6A6A6;
  }
  .create-tour form select {
    width: 389px;
    height: 68px;
    background-position-x: 343px;
  }
  .create-tour form .comment {
    height: 152px;
    border-radius: 10px;
    margin-top: 8px;
    font-size: 20px;
    line-height: 142%;
    padding: 20px;
  }
  .create-tour form .comment:hover {
    background-color: #F4F0E9;
    cursor: pointer;
  }
  .create-tour form .comment:focus {
    background-color: #F4F0E9;
    outline: 1px solid #A6A6A6;
  }
  .create-tour form .edge p {
    margin-top: 0;
    margin-bottom: 8px;
  }
  .create-tour form .edge .radio-buttons {
    width: 166px;
  }
  .create-tour form .edge .radio-buttons label {
    height: 28px;
  }
  .create-tour form .edge .radio-buttons label input {
    padding: 0;
    margin: 0 11px 0 0;
    width: 26px;
    height: 26px;
  }
  .create-tour form .accept-license label {
    font-size: 17px;
    line-height: 142%;
    letter-spacing: -0.01em;
  }
  .create-tour form .accept-license input {
    margin: 0 11px 0 0;
    padding: 0;
    width: 26px;
    height: 26px;
  }
  .create-tour form .accept-license label a:hover {
    text-decoration: underline;
  }
  .create-tour form .accept-license label a:active {
    color: #286562;
    text-decoration: underline;
  }
  .create-tour form .buttons {
    width: 500px;
    height: 58px;
  }
  .create-tour form .buttons input {
    padding: 15px 0;
    margin: 0;
    width: 235px;
    height: 58px;
  }
  .create-tour form .buttons input:first-child:hover {
    background-color: #3B7E7B;
    cursor: pointer;
  }
  .create-tour form .buttons input:first-child:focus {
    outline: none;
  }
  .create-tour form .buttons input:first-child:active {
    background-color: #627F7E;
    outline: none;
  }
  .create-tour form .buttons input:last-child:hover {
    background-color: #F1F3F2;
    cursor: pointer;
  }
  .create-tour form .buttons input:last-child:focus {
    outline: none;
  }
  .create-tour form .buttons input:last-child:active {
    background-color: #D9DFDB;
    outline: none;
  }
}
@media (max-width: 930px) and (min-width: 300px) {
  .create-tour h2 {
    margin: 75px 0 0 0;
  }
  .create-tour > p {
    width: 318px;
    margin: 20px 0 0 0;
  }
  .create-tour form {
    border-radius: 30px;
    padding: 20px;
    margin-top: 40px;
    width: 278px;
    height: 1070px;
    grid-template-columns: 278px;
    grid-template-rows: 74px 77px repeat(4, 74px) 163px 54px 69px 47px;
    row-gap: 30px;
  }
  .create-tour form input,
  .create-tour form select {
    font-size: 16px;
    border-radius: 10px;
    width: 256px;
    height: 21px;
    padding: 10px;
    margin-top: 8px;
  }
  .create-tour form input:not([type="radio"]):not([type="checkbox"]):focus,
  .create-tour form select:not([type="radio"]):not([type="checkbox"]):focus {
    background-color: #F4F0E9;
    outline: 1px solid #A6A6A6;
  }
  .create-tour form label {
    font-size: 16px;
    line-height: 22.72px;
  }
  .create-tour form input::-webkit-input-placeholder {
    font-size: 16px;
    color: #A6A6A6;
  }
  .create-tour form select {
    width: 278px;
    height: 46px;
    background-position-x: 242px;
  }
  .create-tour form .comment {
    height: 112px;
    border-radius: 10px;
    margin-top: 8px;
    font-size: 16px;
    line-height: 142%;
    padding: 10px;
  }
  .create-tour form .comment:focus {
    background-color: #F4F0E9;
    outline: 1px solid #A6A6A6;
  }
  .create-tour form .edge p {
    margin-top: 0;
    margin-bottom: 8px;
  }
  .create-tour form .edge .radio-buttons {
    width: 139px;
  }
  .create-tour form .edge .radio-buttons label {
    height: 23px;
  }
  .create-tour form .edge .radio-buttons label input {
    background-size: cover;
    padding: 0;
    margin: 0 10px 0 0;
    width: 20px;
    height: 20px;
  }
  .create-tour form .edge .radio-buttons label input:checked {
    background-size: cover;
  }
  .create-tour form .accept-license {
    display: flex;
    justify-content: space-between;
  }
  .create-tour form .accept-license label {
    width: 248px;
    font-size: 16px;
    line-height: 142%;
  }
  .create-tour form .accept-license input {
    background-position: top left;
    background-size: cover;
    margin: 0 11px auto 0;
    padding: 0;
    width: 20px;
    height: 20px;
  }
  .create-tour form .accept-license input:checked {
    background-size: cover;
    border: none;
  }
  .create-tour form .accept-license label a:active {
    color: #286562;
    text-decoration: underline;
  }
  .create-tour form .buttons {
    width: 278px;
    height: 47px;
  }
  .create-tour form .buttons input {
    padding: 12px 0;
    margin: 0;
    width: 134px;
    height: 47px;
  }
  .create-tour form .buttons input:first-child:focus {
    outline: none;
  }
  .create-tour form .buttons input:first-child:active {
    background-color: #627F7E;
    outline: none;
  }
  .create-tour form .buttons input:last-child:focus {
    outline: none;
  }
  .create-tour form .buttons input:last-child:active {
    background-color: #D9DFDB;
    outline: none;
  }
}

footer {
  display: flex;
  flex-direction: column;
}
footer .start-tour {
  display: flex;
}
footer .start-tour img {
  margin: 0;
}
footer .start-tour__info h3 {
  margin: 0;
}
footer .start-tour__info p {
  color: #A6A6A6;
}
footer .start-tour__info p a {
  color: #1B1F2B;
}
footer .page-footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #F4F0E9;
}
footer .page-footer p {
  color: #A6A6A6;
}
footer .page-footer__socials {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}
footer .page-footer__socials a {
  display: flex;
}
@media (min-width: 930px) {
  footer .start-tour {
    margin: 135px auto;
    width: 771px;
    height: 370px;
  }
  footer .start-tour img {
    width: 370px;
    border-radius: 50px;
  }
  footer .start-tour__info {
    height: 162px;
    width: 371px;
    margin-top: 104px;
    margin-left: 30px;
  }
  footer .start-tour__info p {
    margin: 20px 0 0;
  }
  footer .start-tour__info p a:hover {
    text-decoration: underline;
  }
  footer .start-tour__info p a:active {
    color: #286562;
  }
  footer .page-footer {
    height: 28px;
    padding: 30px 0;
  }
  footer .page-footer p {
    margin: 0 0 0 366px;
  }
  footer .page-footer__socials {
    width: 419px;
    margin-right: 366px;
  }
  footer .page-footer__socials img {
    width: 26px;
    height: 26px;
    margin: 0 10px 0 25px;
  }
  footer .page-footer__socials a {
    height: 28px;
  }
  footer .page-footer__socials a:hover {
    border-bottom: 1px solid #1B1F2B;
  }
}
@media (max-width: 1500px) and (min-width: 930px) {
  footer .start-tour {
    margin: 135px auto;
    width: 771px;
    height: 370px;
  }
  footer .start-tour img {
    width: 370px;
    border-radius: 50px;
  }
  footer .start-tour__info {
    height: 162px;
    width: 371px;
    margin-top: 104px;
    margin-left: 30px;
  }
  footer .start-tour__info p {
    margin: 20px 0 0;
  }
  footer .start-tour__info p a:hover {
    text-decoration: underline;
  }
  footer .start-tour__info p a:active {
    color: #286562;
  }
  footer .page-footer {
    height: 28px;
    padding: 30px 0;
  }
  footer .page-footer p {
    margin: 0 0 0 53px;
  }
  footer .page-footer__socials {
    width: 419px;
    margin-right: 53px;
  }
  footer .page-footer__socials img {
    width: 26px;
    height: 26px;
    margin: 0 10px 0 25px;
  }
  footer .page-footer__socials a {
    height: 28px;
  }
  footer .page-footer__socials a:hover {
    border-bottom: 1px solid #1B1F2B;
  }
}
@media (max-width: 930px) and (min-width: 300px) {
  footer .start-tour {
    margin: 75px auto;
    width: 291px;
    height: 285px;
    flex-direction: column;
  }
  footer .start-tour img {
    width: 130px;
    height: 133px;
    border-radius: 20px;
    margin: 0 auto;
  }
  footer .start-tour__info {
    height: 122px;
    width: 291px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
  }
  footer .start-tour__info h3 {
    text-align: center;
    width: 291px;
  }
  footer .start-tour__info p {
    width: 291px;
    text-align: center;
    margin: 20px 0 0;
  }
  footer .start-tour__info p a:active {
    color: #286562;
  }
  footer .page-footer {
    height: 95px;
    width: 100%;
    padding: 21px 23px;
    box-sizing: border-box;
    flex-direction: column;
  }
  footer .page-footer p {
    margin: 0;
    width: 318px;
    text-align: center;
  }
  footer .page-footer__socials {
    width: 318px;
    margin: 0 2px;
    justify-content: flex-start;
    align-items: center;
  }
  footer .page-footer__socials img {
    width: 20px;
    height: 20px;
  }
  footer .page-footer__socials img:first-child {
    margin: 0 5px 0 0;
  }
  footer .page-footer__socials img:not(:first-child) {
    margin: 0 5px 0 15px;
  }
  footer .page-footer__socials a {
    height: 23px;
    margin: 0;
  }
}

.page-header {
  background-image: url("img/header/header-img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  color: #ffffff;
  margin-top: 0;
}
.page-header a {
  transition: 100ms ease;
  box-sizing: border-box;
}
.page-header__nav.scroll {
  background: rgba(243, 239, 232, 0.6);
  backdrop-filter: blur(54px);
  position: fixed;
}
.page-header__nav.scroll a {
  height: 28px;
  color: #1B1F2B;
}
.page-header__nav.scroll a.top {
  display: none;
}
.page-header__nav.scroll a.scroll {
  margin-left: 0;
  margin-right: auto;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.page-header__nav {
  height: 88px;
  width: 100%;
}
.page-header__nav__positioner {
  margin: auto;
  display: flex;
  align-items: center;
  height: 100%;
}
.page-header__nav__positioner a {
  height: 28px;
  color: #ffffff;
}
.page-header__nav__positioner a.scroll {
  display: none;
}
.page-header__nav__positioner a.top {
  margin-left: 0;
  margin-right: auto;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.page-header__nav__positioner a:last-child {
  margin-left: auto;
  margin-right: 0;
}
.page-header__text {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.page-header__text h1 {
  text-align: center;
}
.page-header__text p {
  text-align: center;
}
.page-header__text button {
  height: 34px;
  padding: 5px 20px;
  border: none;
  border-radius: 10px;
  transition: 200ms ease;
}
.page-header__text button:active {
  background: #F8E6BE;
  color: #1B1F2B;
}
@media (min-width: 930px) {
  .page-header {
    height: 831px;
  }
  .page-header__nav:not(.scroll) a:not(.top):not(.scroll):hover {
    border-bottom: 2px solid #ffffff;
  }
  .page-header__nav__positioner {
    width: 1168px;
  }
  .page-header__nav__positioner a {
    margin: 0 25px;
    padding: 0;
  }
  .page-header__nav.scroll a:not(.top):not(.scroll):hover {
    border-bottom: 2px solid #1B1F2B;
  }
  .page-header__text h1 {
    margin: 119px 0 0;
    width: 768px;
  }
  .page-header__text p {
    margin: 50px 0 0;
    width: 562px;
  }
  .page-header__text button {
    margin: 50px 0 0;
  }
  .page-header__text button:hover {
    background: #EFA501;
    color: #ffffff;
    cursor: pointer;
  }
}
@media (max-width: 1180px) and (min-width: 930px) {
  .page-header {
    height: 831px;
  }
  .page-header__nav:not(.scroll) a:not(.top):not(.scroll):hover {
    border-bottom: 2px solid #ffffff;
  }
  .page-header__nav__positioner {
    width: 910px;
  }
  .page-header__nav__positioner a {
    margin: 0 15px;
  }
  .page-header__nav.scroll a:not(.top):not(.scroll):hover {
    border-bottom: 2px solid #1B1F2B;
  }
  .page-header__text h1 {
    margin: 119px 0 0;
    width: 768px;
  }
  .page-header__text p {
    margin: 50px 0 0;
    width: 442px;
  }
  .page-header__text button {
    margin: 50px 0 0;
  }
  .page-header__text button:hover {
    background: #EFA501;
    color: #ffffff;
    cursor: pointer;
  }
}
@media (max-width: 930px) and (min-width: 300px) {
  .page-header {
    height: 488px;
  }
  .page-header__nav__positioner {
    width: 320px;
  }
  .page-header__nav__positioner a:not(.top):not(.scroll):not(:last-child) {
    display: none;
  }
  .page-header__nav__positioner a {
    margin: 0 15px;
  }
  .page-header__nav__positioner a img {
    width: 133px;
  }
  .page-header__text h1 {
    margin: 52px 0 0;
    width: 300px;
  }
  .page-header__text p {
    margin: 40px 0 0;
    width: 300px;
  }
  .page-header__text button {
    margin: 40px 0 0;
  }
}

.photos {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.photos h2 {
  text-align: center;
}
.photos p {
  text-align: center;
}
.photos__images {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
}
.photos__images > div {
  width: 100%;
}
.photos__images_first_row,
.photos__images_third_row {
  display: grid;
}
.photos__images_second_row {
  display: grid;
}
.photos__images .image {
  position: relative;
  overflow: hidden;
}
.photos__images .image img {
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media (min-width: 500px) {
  .photos h2 {
    margin: 135px auto 0;
  }
  .photos p {
    width: 418px;
    margin: 30px auto 0;
  }
  .photos__images {
    margin: 100px 0 0;
    height: 963px;
    padding: 0 30px;
  }
  .photos__images > div:not(:first-child) {
    margin-top: 30px;
  }
  .photos__images_first_row,
  .photos__images_third_row {
    height: 300px;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 30px;
  }
  .photos__images_second_row {
    height: 300px;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 30px;
  }
  .photos__images .image {
    border-radius: 50px;
  }
}
@media (max-width: 1050px) and (min-width: 500px) {
  .photos h2 {
    margin: 135px auto 0;
  }
  .photos p {
    width: 418px;
    margin: 30px auto 0;
  }
  .photos__images {
    margin: 100px 0 0;
    height: 963px;
    padding: 0 20px;
  }
  .photos__images > div:not(:first-child) {
    margin-top: 30px;
  }
  .photos__images_first_row,
  .photos__images_third_row {
    height: 300px;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
  }
  .photos__images_first_row .image:nth-child(2) {
    display: none;
  }
  .photos__images_third_row .image:last-child {
    display: none;
  }
  .photos__images_second_row {
    height: 300px;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
  }
  .photos__images_second_row .image:nth-child(3) {
    display: none;
  }
  .photos__images .image {
    border-radius: 50px;
  }
}
@media (max-width: 500px) and (min-width: 300px) {
  .photos h2 {
    margin: 75px auto 0;
  }
  .photos p {
    width: 318px;
    margin: 20px auto 0;
  }
  .photos__images {
    margin: 50px 0 0;
    height: 366px;
    padding: 0 21px;
  }
  .photos__images > div:not(:first-child) {
    margin-top: 18px;
  }
  .photos__images_first_row .image:nth-child(2),
  .photos__images_first_row .image:nth-child(3) {
    display: none;
  }
  .photos__images_third_row .image:last-child,
  .photos__images_third_row .image:nth-child(3) {
    display: none;
  }
  .photos__images_first_row {
    height: 110px;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 18px;
  }
  .photos__images_third_row {
    height: 110px;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10px;
  }
  .photos__images_second_row {
    height: 110px;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10px;
  }
  .photos__images_second_row .image:nth-child(3),
  .photos__images_second_row .image:nth-child(2) {
    display: none;
  }
  .photos__images .image {
    border-radius: 20px;
  }
}

.reviews {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.reviews__preview h2 {
  text-align: center;
  margin: 0 auto;
}
.reviews__preview p {
  text-align: center;
  color: #A6A6A6;
}
.reviews__card {
  box-sizing: border-box;
  background-color: #F4F0E9;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.reviews__card p {
  margin: 0;
}
.reviews__card_info {
  display: grid;
}
.reviews__card_info img {
  grid-row: 1/3;
  grid-column: 2;
  border-radius: 50%;
}
.reviews__card_info h3 {
  margin: 0;
}
.reviews__card_info p {
  margin: 0;
  color: #A6A6A6;
}
@media (min-width: 930px) {
  .reviews {
    width: 1170px;
    height: 1005px;
    margin: 135px auto 0;
  }
  .reviews__preview {
    width: 100%;
    margin-bottom: 100px;
  }
  .reviews__preview h2 {
    width: 529px;
  }
  .reviews__preview p {
    width: 418px;
    margin: 30px auto 0;
  }
  .reviews__card {
    width: 570px;
    height: 673px;
    padding: 40px;
    border-radius: 50px;
  }
  .reviews__card:first-child {
    margin-right: 30px;
  }
  .reviews__card p {
    width: 100%;
  }
  .reviews__card_info {
    grid-template-columns: 415px 75px;
    grid-template-rows: 43px 24px;
    height: 75px;
    row-gap: 8px;
  }
  .reviews__card_info img {
    width: 75px;
    height: auto;
  }
}
@media (max-width: 1180px) and (min-width: 930px) {
  .reviews {
    width: 918px;
    height: 1173px;
    margin: 135px auto 0;
  }
  .reviews__preview {
    width: 100%;
    margin-bottom: 100px;
  }
  .reviews__preview h2 {
    width: 529px;
  }
  .reviews__preview p {
    width: 418px;
    margin: 30px auto 0;
  }
  .reviews__card {
    width: 450px;
    height: 841px;
    padding: 40px;
    border-radius: 50px;
  }
  .reviews__card:first-child {
    margin-right: 18px;
  }
  .reviews__card p {
    width: 100%;
  }
  .reviews__card_info {
    grid-template-columns: 295px 75px;
    grid-template-rows: 43px 24px;
    height: 75px;
    row-gap: 8px;
  }
  .reviews__card_info img {
    width: 75px;
    height: auto;
  }
}
@media (max-width: 930px) and (min-width: 300px) {
  .reviews {
    width: 318px;
    height: 1210px;
    margin: 75px auto 0;
  }
  .reviews__preview {
    width: 100%;
    margin-bottom: 50px;
  }
  .reviews__preview h2 {
    width: 318px;
  }
  .reviews__preview p {
    width: 318px;
    margin: 20px auto 0;
  }
  .reviews__card {
    width: 318px;
    height: auto;
    padding: 20px;
    border-radius: 20px;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .reviews__card:last-child {
    margin-top: 18px;
  }
  .reviews__card p {
    width: 278px;
    margin-bottom: 40px;
  }
  .reviews__card_info {
    grid-template-columns: 203px 75px;
    grid-template-rows: 44px 23px;
    height: 75px;
    row-gap: 8px;
  }
  .reviews__card_info img {
    width: 75px;
    height: auto;
  }
  .reviews__card_info h3 {
    margin-top: auto;
  }
  .reviews__card_info p {
    margin: 0;
  }
}

.stories {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.stories > h2 {
  margin: 0;
  text-align: center;
}
.stories > p {
  text-align: center;
}
.stories__card {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  -webkit-animation: 300ms easy;
  color: #ffffff;
  background: linear-gradient(270deg, rgba(0, 0, 0, 0) 0.01%, rgba(0, 0, 0, 0.2) 100%);
}
.stories__card a {
  color: #ffffff;
}
.stories__card img {
  position: absolute;
  overflow: hidden;
  height: 100%;
  z-index: -1;
  top: 0;
  left: 0;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
}
.stories__card:active .stories__card-links > a {
  background-color: #EFA501;
}
.stories__card h3 {
  margin: 0;
}
.stories__card-description p {
  width: 100%;
  margin: 0;
}
.stories__card-links {
  display: flex;
}
.stories__card-links > a {
  margin-top: 0;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
}
.stories__card-links .social {
  margin: 0;
  display: flex;
}
.stories__card-links .social a {
  margin-right: 0;
}
@media (min-width: 930px) {
  .stories {
    width: 1170px;
    height: 2060px;
    margin: 135px auto 0;
  }
  .stories > p {
    margin-top: 30px;
    margin-bottom: 50px;
    width: 418px;
  }
  .stories__card {
    height: 447px;
    width: 1050px;
    margin-top: 50px;
    border-radius: 50px;
    padding: 60px;
  }
  .stories__card h3 br {
    display: none;
  }
  .stories__card-description {
    margin: 37px 0 0;
    width: 554px;
    height: 224px;
  }
  .stories__card-description ul {
    padding-left: 30px;
    margin: 0;
  }
  .stories__card:hover {
    cursor: pointer;
  }
  .stories__card:hover img {
    transform: scale(1.2);
  }
  .stories__card:hover .stories__card-links > a {
    background-color: #286562;
  }
  .stories__card-links {
    margin-top: 108px;
    height: 35px;
  }
  .stories__card-links > a {
    width: 159px;
    height: 28px;
    padding: 7px 20px;
    border-radius: 50px;
    margin-left: -20px;
    align-self: flex-start;
  }
  .stories__card-links .social a {
    margin-top: 7px;
    margin-left: 35px;
  }
  .stories__card-links .social a:hover {
    border-bottom: 1px solid #ffffff;
  }
}
@media (max-width: 1180px) and (min-width: 930px) {
  .stories {
    width: 918px;
    height: 2060px;
    margin: 135px auto 0;
  }
  .stories > p {
    margin-top: 30px;
    margin-bottom: 50px;
    width: 418px;
  }
  .stories__card {
    height: 477px;
    width: 798px;
    margin-top: 50px;
    border-radius: 50px;
    padding: 60px;
  }
  .stories__card h3 br {
    display: none;
  }
  .stories__card-description {
    margin: 37px 0 0;
    width: 554px;
    height: 224px;
  }
  .stories__card:hover {
    cursor: pointer;
  }
  .stories__card:hover img {
    transform: scale(1.2);
  }
  .stories__card:hover .stories__card-links > a {
    background-color: #286562;
  }
  .stories__card-links {
    margin-top: 108px;
    height: 35px;
  }
  .stories__card-links > a {
    width: 159px;
    height: 28px;
    padding: 7px 20px;
    border-radius: 50px;
    margin-left: -20px;
    align-self: flex-start;
  }
  .stories__card-links .social a {
    margin-top: 7px;
    margin-left: 35px;
  }
  .stories__card-links .social a:hover {
    border-bottom: 1px solid #ffffff;
  }
}
@media (max-width: 930px) and (min-width: 300px) {
  .stories {
    width: 318px;
    height: 1597px;
    margin: 75px auto 0;
  }
  .stories > p {
    margin-top: 20px;
    margin-bottom: 30px;
    width: 319px;
  }
  .stories__card {
    height: 395px;
    width: 258px;
    margin-top: 20px;
    border-radius: 20px;
    padding: 30px;
  }
  .stories__card img {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .stories__card-description {
    margin: 20px 0 0;
    width: 263px;
    height: 230px;
  }
  .stories__card ul {
    padding-left: 25px;
    margin: 0;
  }
  .stories__card-links {
    margin-top: 56px;
    height: 30px;
  }
  .stories__card-links > a {
    width: 123px;
    height: 23px;
    padding: 7px 20px;
    border-radius: 20px;
    margin-left: -20px;
    align-self: flex-start;
  }
  .stories__card-links .social {
    display: none;
  }
}
